{% load static %}
<html>
    <head>
        <title>My Page</title>
        <link rel="stylesheet" href="{% static 'admin_page.css'%}">
    </head>

<body>
    <header>
        <div class="container">
            <a href="admin_page">
            <img src="{% static 'logo.ico' %}" alt="admin_page.html" id="logo1"></a><br>
            <h1 id="black1">----</h1>
            <h1>Get Cured</h1>
            <nav>
                <ul>
                    <li><a href="admin_page">Home</a></li>
                    <li><a href="About">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="home1">SIGNOUT</a></li>
                </ul>
            </nav>
        </div>
    </header>


<div class="dash">
<a href='admin_dash'>
        <button class="button">Dashboard</button>
        </a>
    </div>
    </body>
    </html>